
<div class="map-recherche">

  <div class="recherche">
    <div  ></div>

    <div class="riz-poulet" ><input class="rectangle-7" value="riz + poulet"/></div>
  </div>

  <a routerLink="/details"><div class="item-recherche">
    <img class="rectangle-23" src="../../assets/images/rectangle-23.png" />

    <div class="rectangle-24"></div>

   <h3 class="_6-km">6<br />KM</h3>

    <h2 class="chez-tanti-bonita">CHEZ TANTI BONITA</h2>

    <div class="group-6">
      <h6 class="_95-avis">95 avis</h6>
    </div>

    <div class="star">
      <img class="rectangle-25" src="../../assets/images/rectangle-25.png" />

      <div class="_4">4</div>
    </div>
  </div></a>

  <a routerLink="/details"> <div class="item-recherche2">
    <img class="rectangle-23" src="../../assets/images/rectangle-23.png" />

    <div class="rectangle-24"></div>

    <h3 class="_6-km">12<br />KM</h3>

    <h2 class="chez-tanti-bonita">SWEENY’S Palace</h2 >

    <div class="group-6">
      <h6 class="_95-avis">26 avis</h6>
    </div>

    <div class="star">
      <img class="rectangle-25" src="../../assets/images/rectangle-25.png" />

      <div class="_4">4</div>
    </div>
  </div></a>

  <a routerLink="/details"><div class="item-recherche3">
    <img class="rectangle-23" src="../../assets/images/rectangle-23.png" />

    <div class="rectangle-24"></div>

    <h3 class="_6-km">5<br />KM</h3>

    <h2 class="chez-tanti-bonita">CASA DEL PADRE</h2>

    <div class="group-6">
      <h6 class="_95-avis">56 avis</h6>
    </div>

    <div class="star">
      <img class="rectangle-25" src="../../assets/images/rectangle-25.png" />

      <div class="_4">3</div>
    </div>
  </div></a>

  <!--<div class="bouton-principal">
    <div class="rectangle-13"></div>-->

   
    <select class="street-food">
        <option value="option1">StreetFood</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>
    

    
  <!--</div>-->
</div>

        