.map-details-item,
.map-details-item * {
  box-sizing: border-box;
  //box-sizing: content-box;
  overflow: hidden;
  
}

.map-details-item {
  
  background: #ffffff;
  width: 1495.87px;
  height: 100vh;
  position: relative;
}

.rectangle-15 {
  background: #c5cfb4;
  border-radius: 34.92px;
  width: 279.33px;
  height: 784.69px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  left: 79.31px;
  top: 36.38px;
  overflow: visible;
}

.group-1 {
  position: absolute;
  inset: 0;
}

.rectangle-17 {
  background: #c5cfb4;
  border-radius: 14.7px;
  width: 248.29px;
  height: 67.56px;
  position: absolute;
  left: 13.79px;
  top: 143.77px;
}

.feed-food {
  color: #236419;
  text-align: left;
  font: 700 27.57px 'Urbanist', sans-serif;
  position: absolute;
  left: 86.21px;
  top: 159.36px;
}

.rectangle-16 {
  border-radius: 9.19px;
  width: 32.76px;
  height: 31.65px;
  position: absolute;
  left: 37.93px;
  top: 159.36px;
}

.group-2 {
  position: absolute;
  inset: 0;
}

.rectangle-172 {
  background: #ffffff;
  border-radius: 14.7px;
  width: 248.29px;
  height: 67.56px;
  position: absolute;
  left: 13.79px;
  top: 233.85px;
}

.food-map {
  color: #236419;
  text-align: left;
  font: 700 27.57px 'Urbanist', sans-serif;
  position: absolute;
  left: 86.21px;
  top: 249.44px;
}

.rectangle-162 {
  border-radius: 9.19px;
  width: 31.04px;
  height: 31.18px;
  position: absolute;
  left: 39.66px;
  top: 249.44px;
}

.group-3 {
  position: absolute;
  inset: 0;
}

.rectangle-173 {
  background: #c5cfb4;
  border-radius: 14.7px;
  width: 248.29px;
  height: 67.56px;
  position: absolute;
  left: 13.79px;
  top: 323.92px;
}

.mon-compte {
  color: #236419;
  text-align: left;
  font: 700 27.57px 'Urbanist', sans-serif;
  position: absolute;
  left: 86.21px;
  top: 339.51px;
}

.rectangle-163 {
  border-radius: 9.19px;
  width: 31.04px;
  height: 31.18px;
  position: absolute;
  left: 39.66px;
  top: 339.51px;
}

.d-tail-item {
  width: 731.39px;
  height: 100%;
  position: absolute;
  left: 554.98px;
  top: 30.43px;
  bottom: 0px;
}

.rectangle-23 {
  border-radius: 25.73px;
  width: 731.39px;
  height: 733.23px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.rectangle-24 {
  background: #ffffff;
  border-radius: 0px 0px 25.73px 25.73px;
  width: 731.39px;
  height: 343.64px;
  position: absolute;
  left: 0px;
  top: 389.59px;
}

.par-56-utilisateurs {
  color: #000000;
  text-align: center;
  font: 300 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 352.83px;
  top: 404.5px;
}

.bouton-secondaire {
  width: 159.88px;
  height: 46.04px;
  position: absolute;
  left: 542.11px;
  top: 621.03px;
}

.rectangle-14 {
  background: #236419;
  border-radius: 21.74px;
  width: 159.88px;
  height: 46.04px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.voir-sur-la-map {
  color: #ffffff;
  text-align: center;
  font: 600 14.7px 'Urbanist', sans-serif;
  position: absolute;
  left: 25.73px;
  top: 12.97px;
  width: 110px;
}

.ellipse-11 {
  border-radius: 50%;
  width: 38.27px;
  height: 38.32px;
  position: absolute;
  left: 44.1px;
  top: 624.81px;
}

.d-licieux-et-bien-pic-comme-j-aime {
  color: #000000;
  text-align: left;
  font: 300 14.7px 'Urbanist', sans-serif;
  position: absolute;
  left: 91.88px;
  top: 610.32px;
  width: 244.41px;
  height: 25.73px;
}

.derniers-commentaires {
  color: #000000;
  text-align: left;
  font: 600 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 38.59px;
  top: 564.89px;
}

.street-food {
  color: #ff9f0d;
  text-align: center;
  font: 500 italic 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 133.07px;
  top: 441.47px;
}

.cat-gorie {
  color: #000000;
  text-align: center;
  font: 700 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 39.35px;
  top: 441.47px;
}

.description {
  color: #000000;
  text-align: center;
  font: 700 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 39.35px;
  top: 480.47px;
}

.star {
  width: 53.29px;
  height: 51.59px;
  position: absolute;
  left: 299.54px;
  top: 407.96px;
}

.rectangle-25 {
  width: 52.91px;
  height: 51.59px;
  position: absolute;
  left: 0.12px;
  top: 0px;
}

._4 {
  color: #ffffff;
  text-align: left;
  font: 600 italic 28.96px 'Urbanist', sans-serif;
  position: absolute;
  left: 17.09px;
  top: 10.41px;
}

._8-5-km {
  color: #000000;
  display: inline-block;
  text-align: center;
  font: 800 20.73px 'Urbanist', sans-serif;
  position: absolute;
  left: 579.63px;
  top: 394.5px;
  width: 121.9px;
}

.la-casa-del-padre {
  color: #000000;
  text-align: left;
  font: 800 19.73px 'Urbanist', sans-serif;
  position: absolute;
  left: 25.73px;
  top: 400.83px;
  width: 233.81px;
  height: 28.59px;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-cras-non-ultricies-eros {
  color: #000000;
  text-align: left;
  font: 400 italic 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 39.35px;
  top: 518.44px;
  width: 334.46px;
  height: 44.1px;
}

.rue-101-totsi {
  color: #000000;
  text-align: left;
  font: 400 18.38px 'Urbanist', sans-serif;
  position: absolute;
  left: 591.73px;
  top: 415.42px;
}
