
  <div class="map-details-item">
  <!--<img class="rectangle-21" src="../../assets/images/rectangle-21.png" />

  <img class="rectangle-22" src="../../assets/images/rectangle-22.png" />-->

 
    
  <div class="d-tail-item">
    <img class="rectangle-23" src="../../assets/images/rectangle-23.png" />

    <div class="rectangle-24"></div>

    <p class="par-56-utilisateurs">par 56 utilisateurs</p>

    <div class="bouton-secondaire">
      <div class="rectangle-14"></div>

      <button><div class="voir-sur-la-map">Voir sur la Map</div></button>
    </div>
<!--Commantaires-->
    <img class="ellipse-11" src="../../assets/images/ellipse-11.png" />
    <p class="d-licieux-et-bien-pic-comme-j-aime">Délicieux et bien épicé comme j’aime</p>

    <div ><h5 class="derniers-commentaires">Derniers commentaires:</h5></div>
<!--Details-->
    <h5 class="street-food">Street Food</h5>

    <h5 class="cat-gorie">Catégorie:</h5>

    <div class="star">
      <img class="rectangle-25" src="../../assets/images/rectangle-25.png" />

      <div class="_4">3</div>
    </div>

    <h3 class="_8-5-km">à 8,5 KM</h3>

    <h3 class="la-casa-del-padre">LA CASA DEL PADRE</h3>

    <h5 class="description">Description</h5>

    <p
      class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-cras-non-ultricies-eros"
    >
      Lorem ipsum dolor sit amet, consectetur<br />adipiscing elit. Cras non
      ultricies eros.
  </p>

    <h6 class="rue-101-totsi">Rue 101 Totsi</h6>
  </div>
</div>
    

